* {
  margin: 0;
  padding: 0;
}

*::after,
::before {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
.container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;
}
.first {
  background-color: #454f5b;
}
.first_nav {
  display: flex;
  justify-content: space-between;
  color: white;
  padding-top: 10px;
  p {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 12%;
  }
  a {
    text-decoration: underline;
    color: white;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 12%;
  }
}
.off {
  display: none;
}
.second {
  border-bottom: 1px solid gray;
  padding-top: 20px;
  padding-bottom: 10px;
  .nav_lists1 {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 20px;
    a {
      transition: 0.5s;
    }
    :hover {
      color: blue;
    }
  }
  .tell1 {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 20px;
  }
  a {
    color: #161c24;
    transition: 0.5s;
  }

  .nav_links {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav_lists {
    display: flex;
    gap: 32px;
    align-items: center;
    font-size: 20px;
    line-height: 23.87px;
    :hover {
      color: blue;
    }
  }
}
.tell {
  display: flex;
  align-items: center;
  gap: 25px;
  font-size: 18px;
  line-height: 21.48px;
}

@media (max-width: 1000px) {
  .off {
    display: block;
  }
  .tell {
    display: none;
  }
  .home {
    display: flex;
    justify-content: space-between;
  }
}
.main {
  padding-top: 40px;
  a {
    color: gray;
    font-size: 18px;
    line-height: 26px;
  }
  span {
    color: #161c24;
  }
  .cards {
    padding-top: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    gap: 30px;
    .card {
      width: 260px;
      height: 350px;
      p {
        color: #454f5b;
        font-size: 16px;
        line-height: 26px;
        padding-left: 14px;
      }
      .price {
        color: #161c24;
        font-size: 20px;
        line-height: 23.87px;
        padding-left: 14px;
      }
      .star {
        display: block;
        width: 240px;
        margin: 0 auto;
      }
      span {
        color: #454f5b;
        text-decoration: line-through;
        line-height: 21.48px;
        font-size: 18px;
      }
      img {
        width: 100%;
        height: 200px;
      }
    }
  }
}

.about {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding-top: 150px;
  .left {
    h1 {
      font-size: 32px;
      line-height: 42px;
      padding-top: 80px;
      padding-bottom: 24px;
    }
    p {
      color: #454f5b;
      line-height: 32px;
      font-size: 18px;
    }
    .form {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      margin-top: -5px;
      padding-bottom: 20px;
      input {
        width: 20px;
        margin-top: 5px;
      }
      label {
        margin-left: -100px;
        padding-top: 4px;
      }
    }
  }
}

.about2 {
  padding-top: 82px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  img {
    object-fit: cover;
    width: 520px;
  }
  .right {
    padding-top: 80px;
    margin-right: 60px;
    h1 {
      line-height: 42px;
      padding-bottom: 14px;
      font-size: 32px;
      color: #161c24;
    }
    p {
      line-height: 32px;
      color: #454f5b;
      font-size: 18px;
      width: 550px;
    }
  }
}
.gray {
  margin-top: 150px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #f2f8ff;
}
.contact {
  h1 {
    color: #161c24;
    line-height: 62px;
    font-size: 44px;
    text-align: center;
  }
  p {
    color: #454f5b;
    line-height: 26px;
    font-size: 16px;
    text-align: center;
    width: 500px;
    margin: 0 auto;
    padding-top: 10px;
  }
  form {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-top: 24px;
    input {
      width: 240px;
      padding: 15px;
      background-color: #161c240a;
      border: none;
      outline: none;
    }
    button {
      background-color: #4295e4;
      width: 220px;
      padding: 15px;
      border: none;
      color: white;
    }
  }
}

.blue {
  background-color: #0d2436;
}
.foot {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding-top: 30px;
  padding-bottom: 30px;
  li,
  a {
    padding-top: 10px;
    color: #ffffff;
    line-height: 26px;
    font-size: 16px;
  }
  p {
    line-height: 28px;
    font-size: 18px;
    color: white;
  }
}
@media (max-width: 1160px) {
  .about {
    .left {
      .form {
        width: 100%;
        grid-template-columns: auto auto;
        gap: 0px;
      }
      label {
        margin-right: 680px;
      }
    }
  }
  .main {
    .cards {
      grid-template-columns: repeat(3, 1fr);
      .card {
        margin: 0 auto;
      }
    }
  }
  .about2 {
    flex-direction: column;
    img {
      width: 100%;
    }
  }
  .about {
    flex-direction: column;
    img {
      width: 100%;
    }
  }
}

@media (max-width: 900px) {
  .main {
    .cards {
      grid-template-columns: repeat(2, 1fr);
      .card {
        margin: 0 auto;
      }
    }
  }
  .foot {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 740px) {
  .about {
    .left {
      .form {
        width: 100%;
        grid-template-columns: auto auto;
        gap: 0px;
        justify-content: space-between;
      }
      label {
        margin-right: 60px;
      }
    }
  }
  .second {
    .nav_lists {
      display: none;
    }
    .logo {
      display: block;
    }
  }
  .foot {
    grid-template-columns: repeat(3, 1fr);
  }
  form {
    flex-direction: column;
    input,
    button {
      margin: 0 auto;
    }
  }
  .contact {
    p {
      width: 100%;
    }
  }
}
@media (max-width: 590px) {
  .main {
    .cards {
      grid-template-columns: auto;
    }
  }
  .foot {
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
  }
  .about2 {
    .right {
      p {
        width: 100%;
      }
    }
  }
}

@media (max-width: 480px) {
  .foot {
    grid-template-columns: auto;
    text-align: center;
  }
}
